* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Andale Mono Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Andale Mono Regular"),
    url("../assets/fonts/ANDALEMO.woff") format("woff");
}

body {
  font-family: "Andale Mono Regular", monospace;
  min-width: 320px;
}

a[href] {
  text-decoration: none;
  color: #000;
}

a[href].active {
  color: #9b9b9b;
}

.main-content {
  padding: 5rem 2.5rem 1rem 2.5rem;
  text-align: center;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
  z-index: 100;
  padding: 1.5rem 2.5rem 1rem 2.5rem;
  background: #fff;
  transition: top 0.3s ease;
}

.main-header.hide {
  top: -70px;
}

.main-header__logo {
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 1.3px;
  padding: 0;
}

.main-nav {
  display: none;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 90;
  width: 100%;
  height: 100vh;
  background: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.mobile-nav.open {
  opacity: 0.95 !important;
}

body.nav-open {
  overflow: hidden;
}

.mobile-nav__items {
  list-style: none;
  padding: 0;
  margin-top: 10rem;
  text-align: center;
}

.mobile-nav__item {
  font-size: 1.2rem;
  padding: 1rem 0;
}

.mobile-nav__license {
  text-align: center;
  padding-top: 2rem;
}

#toggle-button {
  width: 18px;
  height: 24px;
  position: absolute;
  right: 2.5rem;
  top: 1.55rem;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#toggle-button span {
  display: block;
  position: absolute;
  height: 2.5px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#toggle-button span:nth-child(1) {
  top: 0px;
}

#toggle-button span:nth-child(2),
#toggle-button span:nth-child(3) {
  top: 10px;
}

#toggle-button span:nth-child(4) {
  top: 20px;
}

#toggle-button.open span:nth-child(1) {
  top: 16px;
  width: 0%;
  left: 50%;
}

#toggle-button.open span:nth-child(2) {
  transform: rotate(45deg);
}

#toggle-button.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#toggle-button.open span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%;
}

.gallery__nav {
  display: none;
}

.gallery__items {
  list-style: none;
  padding: 0;
}

.gallery__item {
  padding-bottom: 1.5rem;
}

.photo {
  width: 100%;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.photo--lazy {
  filter: blur(10px);
  transition: filter 0.2s ease-out;
}

.photo--enhanced {
  filter: blur(0);
}

.license {
  display: none;
}

.icon--small {
  width: 12px;
  height: 12px;
}

@media (min-width: 52rem) {
  body {
    display: grid;
    grid-template-columns: 3fr 9fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header main"
      "nav main";
    grid-column-gap: 1rem;
    max-width: 1280px;
  }

  .main-content {
    grid-area: main;
    padding: 3rem 3rem 0 0;
    text-align: left;
  }

  .main-header {
    display: block;
    z-index: 0;
    width: auto;
    min-width: auto;
    position: static;
    grid-area: header;
    text-align: center;
    margin: auto;
    padding: 10rem 0 0 0;
    background: none;
  }

  .main-header__logo {
    font-size: 1.3rem;
    letter-spacing: 2.3px;
    line-height: 1.5;
    padding-bottom: 1.6rem;
    width: 150px;
  }

  .main-nav {
    display: block;
    grid-area: nav;
  }

  .main-nav__items {
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .main-nav__item {
    font-size: 0.8rem;
    padding-bottom: 1rem;
  }

  #toggle-button {
    display: none;
  }

  .gallery {
    display: inline-flex;
    justify-content: center;
    position: relative;
  }

  .gallery__item {
    padding: 0;
  }

  .gallery__nav {
    display: flex;
    position: absolute;
    z-index: 1;
    width: 50%;
    height: 100%;
    padding-top: 16rem;
    cursor: pointer;
    transition: margin 200ms ease-in-out;
  }

  .gallery__nav span {
    font-size: 1.3rem;
    user-select: none;
  }

  .gallery__nav#prev {
    top: 0;
    left: 0;
    margin-left: -2rem;
  }

  .gallery__nav#prev:hover {
    margin-left: -2.5rem;
  }

  .gallery__nav#next {
    top: 0;
    right: 0;
    margin-right: -2rem;
    justify-content: flex-end;
  }

  .gallery__nav#next:hover {
    margin-right: -2.5rem;
  }

  .photo {
    user-select: none;
  }

  .photo--landscape {
    padding-top: 0;
    width: 70vw;
    max-width: 900px;
    padding-top: 1rem;
  }

  .photo--portrait {
    width: auto;
    height: 88vh;
    max-height: 900px;
    min-height: 400px;
  }

  .license {
    display: block;
  }
}

@media (min-width: 65rem) {
  .main-header {
    padding-top: 12rem;
  }
}

@media (min-height: 48rem) and (min-width: 52rem) {
  .photo--landscape {
    padding-top: 3rem;
  }
}

@media (max-height: 40rem) and (min-width: 70rem) {
  .photo--landscape {
    width: 55vw;
    max-width: 700px;
    padding-top: 2rem;
  }
}
