* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Andale Mono Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Andale Mono Regular"),
    url("./assets/fonts/ANDALEMO.woff") format("woff");
}

body {
  font-family: "Andale Mono Regular";
  min-width: 320px;
}

.main-content {
  padding: 5rem 2.5rem;
  text-align: center;
}

.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  min-width: 320px;
  z-index: 100;
  padding: 1.5rem 2.5rem 1rem 2.5rem;
  background: #fff;
  transition: all 0.3s ease;
}

.main-header.hide {
  top: -70px;
}

.main-header__logo {
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 1.3px;
  padding: 0;
}

.main-nav {
  display: none;
}

.mobile-nav {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 90;
  width: 100%;
  height: 100vh;
  background: #fff;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.mobile-nav.open {
  opacity: 0.95 !important;
}

body.nav-open {
  overflow: hidden;
}

.mobile-nav__items {
  list-style: none;
  padding: 0;
  margin-top: 8rem;
  text-align: center;
}

.mobile-nav__item {
  padding: 1rem 0;
}

#toggle-button {
  width: 18px;
  height: 24px;
  position: absolute;
  right: 2.5rem;
  top: 1.55rem;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#toggle-button span {
  display: block;
  position: absolute;
  height: 2.5px;
  width: 100%;
  background: #000;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#toggle-button span:nth-child(1) {
  top: 0px;
}

#toggle-button span:nth-child(2),
#toggle-button span:nth-child(3) {
  top: 10px;
}

#toggle-button span:nth-child(4) {
  top: 20px;
}

#toggle-button.open span:nth-child(1) {
  top: 16px;
  width: 0%;
  left: 50%;
}

#toggle-button.open span:nth-child(2) {
  transform: rotate(45deg);
}

#toggle-button.open span:nth-child(3) {
  transform: rotate(-45deg);
}

#toggle-button.open span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%;
}

.gallery__items {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.gallery__item {
  padding-bottom: 1.5rem;
}

.photo {
  width: 100%;
}

.photo--lazy {
  filter: blur(10px);
  transition: filter 300ms ease-in;
}

.photo--enhanced {
  filter: blur(0);
}

@media (min-width: 52rem) {
  body {
    display: grid;
    grid-template-columns: 14rem auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "header main"
      "nav main";
    max-width: 1400px;
  }

  .main-content {
    grid-area: main;
    padding: 4rem 3rem 0 3rem;
  }

  .main-header {
    display: block;
    z-index: 0;
    width: auto;
    min-width: auto;
    position: static;
    grid-area: header;
    text-align: center;
    padding: 10rem 0 0 0;
    background: none;
  }

  .main-header__logo {
    font-size: 1.6rem;
    letter-spacing: 2.3px;
    line-height: 1.5;
    padding-bottom: 1.6rem;
  }

  .main-nav {
    display: block;
    grid-area: nav;
  }

  .main-nav__items {
    padding: 0;
    list-style: none;
    text-align: center;
  }

  .main-nav__item {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  #toggle-button {
    display: none;
  }

  .gallery__item {
    height: calc(100vh - 6rem);
    text-align: center;
  }

  .photo--landscape {
    max-height: 600px;
  }

  .photo--portrait {
    width: auto;
    max-width: 600px;
    max-height: 100%;
    min-height: 600px;
  }

  .photo--portrait.photo--lazy {
    height: 1000%;
  }
}

@media (min-width: 65rem) {
  .main-header {
    padding-top: 12rem;
  }
}
